/* setup */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    background-color: forestgreen;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;

}

/* typography*/

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
}

h3 {
  color: beige;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
}

/*header layout*/


.background-image {
    width: 30%;
    height: 30%;
  }

 

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-size: 2.8rem;
    background-color: rgb(181, 118, 69);
  }

  h2 {
    font-size: 2.2rem;
    text-align: center;
    text-decoration: wavy;
    background-color: bisque;
  } 

h3 {
    font-size: 2.2rem;
    text-align: left;
    text-decoration: wavy;
}

p {
  background-color: rgb(157, 112, 48);
  text-align: left;
  text-decoration: wavy;
  font-size: 1.6;
  line-height: 1.5;
}


  nav {
    height: 5rem;
    width: 100%;
  }

  nav li {
    display: inline;
    text-align: center;
  }

  ul {
    list-style-type: none;
     padding: 5px;
     margin: 60px;
     background-color: bisque;
  }
  
  li {
    display: inline;
    padding: 15px;
  }

  li a {
    display: block;
    color: orchid;
    text-align: center;
    padding: 0;
    font-size: medium;
    float: right;

  }

 

  h3, aside {
    background-color: tan;
  }


/* general layout*/


  section {
    margin-left: 10px;
  }
  
  aside {
    width: 500px;
    margin-left: 15px;
    padding-left: 15px;
  }
  
  .sidebar-img img {
    width: 38%;
    height: 38%;
  }

  .sidebar-img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  
  /* Style the sidebar */
  
  .sidebar {
    float: right;
    height: 500px;
    background-color: bisque;
    width: 500px;
  }

  footer {
    text-align: center;
    padding: 3px;
    min-height: 100vh;
  
  }