/* setup */

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    background-color: lightcoral;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;

}

/* typography*/

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: burlywood;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
}

/*header layout*/


.background-image {
    width: 100%;
    height: 100%;
    object-position:100%;
    opacity: 0.8;
  }

h1 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: wavy;
    font-size: 2.8rem;
    background-color: forestgreen;
  }

  h2 {
    font-size: 2.2rem;
    text-align: center;
    text-decoration: wavy;
    float: left;
    background-color: forestgreen;
  } 

h3 {
    font-size: 2.2rem;
    text-align: left;
    text-decoration: wavy;
    float: right;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: left;
    float: left;
    display: block;
    background-color: forestgreen;
  }

  nav {
    height: 50px;
    flex: 100%;
    display: flex;
  }

  nav li {
    display: inline;
    text-align: center;
    flex: 1;
    float: center;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flexbox;
    overflow: hidden;
    background-color: antiquewhite;
  }
  
  li {
    display: inline;
    float: left;
    font-size: 3rem;
  }

  li a {
    display: block;
    color: orchid;
    text-align: center;
    padding: 14px;
  }

  nav a, nav span {
    display: inline-block;
    font-size: 2rem;
    height: 3rem;
    line-height: 1.7;
    text-transform: uppercase;
  }

  h3, section {
    background-color: pink;
  }


/* general layout*/

main {
  display: flex;
}

  a {
    display: block;
    padding: 10px;
  }

  section {
    flex: 4;
    margin-left: 10px;
    padding: 1%;
    display: block;
    float:right;
  }
  
  aside {
    float: right;
    width: 30%;
    margin-left: 15px;
    padding-left: 15px;
    background-color: antiquewhite;
  }
  
  aside img {
    max-width: 50%;
    height: 50%;
    margin: auto;
    padding: 5px;
    float: right;
  }

  